streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-huggingface
langchain-chroma
sentence-transformers
transformers
torch
pysqlite3-binary
pypdf
rank-bm25
accelerate
streamlit-mic-recorder