streamlit
streamlit-mic-recorder
langchain
langchain-huggingface
langchain-chroma
transformers
torch
accelerate
bitsandbytes
pysqlite3-binary
import-ipynb
langchain-classic
langchain-community
sentence-transformers